* {
    margin: 0;
    padding: 0;
}

.nav-element {
    float: left;
    width: 20%;
    height: 60px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 22px;
    text-decoration: none;
    margin: 20px;
    background-color: darkblue;
    font-weight: bold;
    color: darkgrey;
    border-radius: 15px;
}

.nav-element:hover {
    color: #1C82AD;
}

#picture {
    width: 100px;
    border: darkgrey 2px solid;
}

nav {
    display: flex;
    background-color: darkgray;
    width: 100%;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: darkgrey;
    border-top: black 1px solid;
}

#bild2 {
    width: 500px;
}

#hero {
    text-align: center;
    padding-top: 20px;
    box-shadow: 0px 0px 10px black;
    width: 35%;
    margin: 0 auto;
}

#content {
    padding-top: 10px;
}

body {
    font-family: 'Sofia Sans', sans-serif;
}

#hero p {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
}