/* Whole Site */

* {
    margin: 0;
    padding: 0;
}


/* Header */

.nav-element {
    float: left;
    width: 20%;
    height: 60px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 22px;
    text-decoration: none;
    margin: 17px;
    font-weight: bold;
    color: white;
    border-radius: 15px;
    font-size: 26px;
}

.nav-element:hover {
    color: #1C82AD;
}

nav {
    display: flex;
    background-color: darkgray;
    width: 100%;
    position: fixed;
}

#picture {
    width: 100px;
    border: darkgrey 2px solid;
}


/* Site Content/Body-Page1 */

body {
    background-color: #1C82AD;
}

#hero {
    text-align: center;
    padding-top: 20px;
    box-shadow: 0px 0px 10px black;
    width: 80%;
    margin: 0 auto;
    background-color: darkgrey;
}

#content {
    padding-top: 130px;
    padding-bottom: 30px;
}

#bild2 {
    width: 1300px;
}

body {
    font-family: 'Sofia Sans', sans-serif;
}

#hero p {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
    color: white;
    font-size: 17px;
}

#hero h2 {
    font-size: 40px;
    color: #1C82AD;
    font-weight: bold;
}


/* Site Content/Body-Page2 */


/* hero1-page2 */

#hero1-page2 {
    text-align: center;
    padding: 20px;
    box-shadow: 0px 0px 10px black;
    width: 44%;
    background-color: darkgray;
    margin: auto;
}

#vienna {
    width: 665px;
}

#content-page2 {
    text-align: center;
    padding-top: 130px;
    padding-bottom: 30px;
    padding-left: 15px;
}

#hero1-page2 h2 {
    font-size: 40px;
    color: #1C82AD;
    font-weight: bold;
    text-align: center;
}

#hero1-page2 p {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
    color: white;
    font-size: 17px;
}


/* hero2-page2 */

#hero2-page2 {
    text-align: right;
    padding: 20px;
    box-shadow: 0px 0px 10px black;
    width: 44%;
    background-color: darkgray;
    margin: auto;
}

#prague {
    width: 665px;
    padding-right: 30px;
}

#content2-page2 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
}

#hero2-page2 h2 {
    font-size: 40px;
    color: #1C82AD;
    font-weight: bold;
    text-align: center;
}

#hero2-page2 p {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
    color: white;
    font-size: 17px;
}


/* hero3-page2 */

#hero3-page2 {
    text-align: center;
    padding: 20px;
    box-shadow: 0px 0px 10px black;
    width: 44%;
    background-color: darkgray;
    margin: auto;
}

#barcelona {
    width: 665px;
}

#content3-page2 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
}

#hero3-page2 h2 {
    font-size: 40px;
    color: #1C82AD;
    font-weight: bold;
    text-align: center;
}

#hero3-page2 p {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
    color: white;
    font-size: 17px;
}


/* Footer */

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: darkgrey;
    border-top: black 1px solid;
}

footer a {
    color: white;
    font-size: medium;
    text-decoration: none;
}

footer a:hover {
    color: #1C82AD;
}