/* Whole Site */

* {
    margin: 0;
    padding: 0;
}


/* Header */

.nav-element {
    float: left;
    width: 20%;
    height: 100px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 34px;
    text-decoration: none;
    /* margin: 17px; */
    font-weight: bold;
    color: white;
    font-size: 26px;
    border-right: black 2px solid;
}

.nav-element:hover {
    color: #1C82AD;
}

nav {
    display: flex;
    background-color: darkgray;
    width: 100%;
    position: fixed;
    height: 100px;
    border-bottom: black 2px solid;
}

#picture {
    width: 100px;
    border-right: darkgray 2px solid;
}


/* Site Content/Body-Page1 */

body {
    background-color: #1C82AD;
    font-family: 'Sofia Sans', sans-serif;
}

#hero {
    text-align: center;
    padding-top: 20px;
    box-shadow: 0px 0px 10px black;
    width: 60%;
    margin: 0 auto;
    background-color: darkgrey;
}

#content {
    padding-top: 130px;
    padding-bottom: 30px;
}

#bild2 {
    width: 940px;
}

#hero #table {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
    color: white;
    font-size: 25px;
    display: inline-block;
    text-align: left;
}

#hero #table a {
    color: #1C82AD;
    text-decoration: none;
}

#hero #table a:hover {
    color: white;
}

#hero h2 {
    font-size: 40px;
    color: #1C82AD;
    font-weight: bold;
}


/* Site Content/Body-Page2 */


/* hero1-page2 */

#hero1-page2 {
    text-align: center;
    padding: 20px;
    box-shadow: 0px 0px 10px black;
    width: 44%;
    background-color: darkgray;
    margin: auto;
}

#vienna {
    width: 665px;
}

#content-page2 {
    text-align: center;
    padding-top: 130px;
    padding-bottom: 30px;
    padding-left: 15px;
}

#hero1-page2 h2 {
    font-size: 40px;
    color: #1C82AD;
    font-weight: bold;
    text-align: center;
}

#hero1-page2 p {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
    color: white;
    font-size: 17px;
}


/* hero2-page2 */

#hero2-page2 {
    text-align: right;
    padding: 20px;
    box-shadow: 0px 0px 10px black;
    width: 44%;
    background-color: darkgray;
    margin: auto;
}

#prague {
    width: 665px;
    padding-right: 30px;
}

#content2-page2 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
}

#hero2-page2 h2 {
    font-size: 40px;
    color: #1C82AD;
    font-weight: bold;
    text-align: center;
}

#hero2-page2 p {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
    color: white;
    font-size: 17px;
}


/* hero3-page2 */

#hero3-page2 {
    text-align: center;
    padding: 20px;
    box-shadow: 0px 0px 10px black;
    width: 44%;
    background-color: darkgray;
    margin: auto;
}

#barcelona {
    width: 665px;
}

#content3-page2 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
}

#hero3-page2 h2 {
    font-size: 40px;
    color: #1C82AD;
    font-weight: bold;
    text-align: center;
}

#hero3-page2 p {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
    color: white;
    font-size: 17px;
}


/* Site Content/Body-Page3 */

.contactperson .portät {
    width: 230px;
    border: black 2px solid;
    border-radius: 25px;
}

#content-page3 {
    padding-top: 130px;
}

#content2-page3 {
    padding-top: 30px;
}

#content3-page3 {
    padding-top: 30px;
    padding-bottom: 45px;
}

.contactperson {
    text-align: center;
    padding: 20px;
    box-shadow: 0px 0px 10px black;
    width: 44%;
    background-color: darkgray;
    margin: auto;
}

.contactperson table {
    margin-left: auto;
    margin-right: auto;
    color: white;
}


/* Site Content/Body-Page4 */

#form1 {
    text-align: center;
    padding: 20px;
    box-shadow: 0px 0px 10px black;
    width: 44%;
    background-color: darkgray;
    margin: auto;
}

#content-page4 {
    padding-top: 145px;
}

#form1 div {
    color: white;
}

#form1 h2 {
    color: #1C82AD;
    font-size: 40px;
}

#form1 button {
    color: black;
}


/* Footer */

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: darkgrey;
    border-top: black 1px solid;
}

footer a {
    color: white;
    font-size: medium;
    text-decoration: none;
}

footer a:hover {
    color: #1C82AD;
}